.cabecalho{
    width: 100%;
    background-color: #fed500;
    font-family: "Roboto", sans-serif;
}

.cabecalho-principal{
    display: flex;
    justify-content: space-between;
}

.cabecalho-consulta-listas{
    display: flex;
    font-size: .75rem;
    justify-content: space-evenly;

}

::placeholder{
    color: #00A0E4;
}

.form-pesquisa{
    position: relative;
}

.form-pesquisa-campo{
    color: #00A0E4;
}

.form-pesquisa-botao{
    position: absolute;
    left: 149px;
}
